<%- include('../../layouts/main.ejs') %>

<main class="container mx-auto min-h-[calc(100vh_-_200px)">
  <%- include('../../components/searchYear.ejs') %>

  <div class="flex flex-wrap justify-center items-center gap-4 mt-8">
    <% memories.forEach(function(memory){ %>
      <%- include('../../components/memory.ejs', {memory}) %>
    <% }); %>
  </div>

  <%- include('../../components/createMemory.ejs') %>
  <%- include('../../components/alert.ejs') %>
</main>

<script type="module" src="./js/components/modalDelete.js"></script>
<script type="module" src="./js/components/modalEdit.js"></script>
